/* Navbar */
.ContainerNavbar{
     
}
.WrapperNavbar{
    
}
.Left{
    
}
.Date{
    font-size: 14px;
    cursor: pointer;
}
.SearchContainer{
    
}
.SearchInput{
    border: none;
    width: 60;
}
.Center{
    
}
.Right{
    
}
/* ---------------Navbar----------------- */

/* Slider */
.ContainerSlider{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}
.Arrow{
    width: 50px;
    height: 50px;
    background-color: #fff7f7;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    /* left: ${props=> props.direction === "left" && "10px"};
    right: ${props=> props.direction === "right" && "10px"};  */
    margin: auto;
    cursor: pointer;
    opacity: 0.5;
    z-index: 2;
}
.WrapperSlider{
    height: 100%;
    display: flex;
    transition: all 1.5s ease;
    /* transform: translateX(${(props) => props.slidIndex * -100}vw);  */
}
.Slide{
    width: 100VW;
    height: 100vw;
    display: flex;
    align-items: center;
    /* background-color: ${props=>props.bg} */
}
.ImgContainer{
    flex: 1;
}
.Image{
    height: 80%;

}
.InfoContainer{
    flex: 1;
    padding: 50px;
}
.TitleSlider{
    font-style: 70px;
}
.DescSlider{
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}
.ButtonSlider{
    padding: 10px;
    font-style: 20px;
    background-color: transparent;
    cursor: pointer;
}
/* ---------------Slider----------------- */

/* Categories */
.ContainerCategories{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

/* ---------------Categories----------------- */


/* CategoryItem */
.ContainerCategoryItem{
    flex: 1;
    margin: 3px;
    height: 70vh;
    position: relative;
}
.CategoryItemImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.InfoItems{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TitleCategoryItem{
    color: white;
    margin-bottom: 20px;
}
.ButtonCategoryItem{
    border: none;
    padding: 10px;
    background-color: white;
    color: gray;
    cursor: pointer;
    font-weight: 600;
}
/* ---------------CategoryItem----------------- */


/* Product */
.ContainerProduct{
    flex: 1;
    margin: 5px;
    min-width: 280px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5fbfd;  
    position: relative;
}
/* .ContainerProduct:hover ${ProductImageInfo}{

} */
.Circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    position: absolute;

}
.ProductImage{
    height: 75%;
    z-index: 2;
}
.ProductImageInfo{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0reen, 0lue, 0.2);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ProductIcon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: all 0.5s ease;
}
.ProductIcon:hover{
    background-color: #e9f5f5;
    transform: scale(1.1);
    
}

/* ---------------Product----------------- */

/* Products */
.ContainerProducts{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

/* ---------------Products----------------- */









/*
*App {
    text-align: center;
    margin: 0;
}

.Home {
    background-color: darkcyan;
    border-bottom: 1px solid black;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
}
.form{
    margin: auto;
    width: 330px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    text-align-last: center;
    -ms-flex-item-align: aut;
    justify-content: first baseline;
    flex-direction: column;
    gap: 20px;
    height: 30vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-image: url("../Files/pfp/Logo.JPG");
}

.form-group {

    margin: auto;
    width: 180px;
}
.input {
    margin: 5px;
    width: 150px;
}
.label {
    align-items:center;
    margin: 50px;
    width: 180px;
    font-size: larger;
}
.app {

    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
}
input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
button[type="submit"] {
    margin: 10px;
    width: 150px; 
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
}
button[type="submit"]:hover {
    background: #6cf0c2
}
*/